doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title=title 
    body 
        if (message)
            h4(style='color: red') #{message}
        h2 Log In
        form(action='/login' method='post')
            input(name='id' type='text' required placeholder='User ID')
            input(name='password' type='password' requried placeholder='Password')
            button(type='submit') Login
        br
        br
        a(href=url2) Sign Up
        br 
        br
        a(href=url) Go Home